@charset "UTF-8";
@font-face {
  font-family: "Colour-Sans";
  font-weight: 200;
  font-style: normal;
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: url("../fonts/Colour-Sans/Colour Sans-Light.otf") format("opentype");
}
@font-face {
  font-family: "Colour-Sans";
  font-weight: 400;
  font-style: normal;
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: url("../fonts/Colour-Sans/Colour Sans-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Colour-Sans";
  font-weight: 700;
  font-style: normal;
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: url("../fonts/Colour-Sans/Colour Sans-Bold.otf") format("opentype");
}
.h-5 {
  height: 5%;
}

.w-5 {
  width: 5%;
}

.h-10 {
  height: 10%;
}

.w-10 {
  width: 10%;
}

.h-15 {
  height: 15%;
}

.w-15 {
  width: 15%;
}

.h-20 {
  height: 20%;
}

.w-20 {
  width: 20%;
}

.h-25 {
  height: 25%;
}

.w-25 {
  width: 25%;
}

.h-30 {
  height: 30%;
}

.w-30 {
  width: 30%;
}

.h-35 {
  height: 35%;
}

.w-35 {
  width: 35%;
}

.h-40 {
  height: 40%;
}

.w-40 {
  width: 40%;
}

.h-45 {
  height: 45%;
}

.w-45 {
  width: 45%;
}

.h-50 {
  height: 50%;
}

.w-50 {
  width: 50%;
}

.h-55 {
  height: 55%;
}

.w-55 {
  width: 55%;
}

.h-60 {
  height: 60%;
}

.w-60 {
  width: 60%;
}

.h-65 {
  height: 65%;
}

.w-65 {
  width: 65%;
}

.h-70 {
  height: 70%;
}

.w-70 {
  width: 70%;
}

.h-75 {
  height: 75%;
}

.w-75 {
  width: 75%;
}

.h-80 {
  height: 80%;
}

.w-80 {
  width: 80%;
}

.h-85 {
  height: 85%;
}

.w-85 {
  width: 85%;
}

.h-90 {
  height: 90%;
}

.w-90 {
  width: 90%;
}

.h-95 {
  height: 95%;
}

.w-95 {
  width: 95%;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

body {
  font-family: "Colour-Sans";
  color: white;
}

.bg-1 {
  background-color: #002c69;
  color: white;
}

.bg-2 {
  background-color: #b2b621;
  color: #002c69;
}

.bg-3 {
  background-color: #e86612;
  color: white;
}

.bg-light {
  color: #002c69;
}

/* Cards de información */
.card-info {
  padding: 30px 10%;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
}
.card-info p {
  margin-bottom: 0;
}

.bd-1 {
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.bd-2 {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.hero {
  position: relative;
  height: 100vh;
  background-color: #002c69;
}
.hero > div.row {
  flex-grow: 1;
}
.hero .participa {
  position: relative;
  font-size: 48px;
  line-height: 1.15;
}
.hero .participa::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  right: calc( 100% + 0.5em );
  height: 100%;
  width: 8px;
  background-color: #e86612;
}
.hero .static {
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: flex-end;
}
.hero .static img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 0;
}
.hero .static .row:nth-child(1) {
  height: 100%;
  padding-top: 30px;
  padding-right: 1.5vw;
  padding-bottom: 30px;
  margin-left: -4.5vw;
  flex-grow: 1;
  margin-bottom: auto;
}
.hero .static .column {
  margin-bottom: 20px;
}
.hero footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 1px;
  min-height: 15%;
  background-color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}
.hero footer .container-fluid {
  height: 100%;
}
.hero footer .row {
  height: 100%;
}
.hero footer .column {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero footer .column:nth-child(1) {
  align-items: flex-end;
}
.hero footer img {
  height: 100%;
  margin-right: 0.5em;
  float: left;
}

#promociones .carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#promociones .anuncio {
  width: 100%;
  height: 60%;
  min-width: 460px;
  min-height: 255px;
  position: relative;
  background-color: white;
  border-top-right-radius: 90px;
}
#promociones .anuncio img {
  height: 120%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

/* Secciones */
.titulo-seccion {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

.como-participar .card {
  background-color: #002c69;
  font-size: 29px;
}
.como-participar .wrapper-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -35px;
  max-height: 200px;
  width: auto;
  object-fit: contain;
}

.encuentra-tus-combos .card {
  font-size: 25px;
}
.encuentra-tus-combos .column:nth-child(2) .card {
  margin-top: 75px;
}
.encuentra-tus-combos .wrapper-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
  width: auto;
  object-fit: contain;
}

/*# sourceMappingURL=main.css.map */
